<div class="hex" id="hex_<%= hex.id %>" data-id="<%= hex.id %>" data-q="<%= hex.q %>" data-r="<%= hex.r %>" data-reflex="click->Users#move">
  <%= render partial: 'hex_inner', locals: {hex: hex} %>
</div>
