<div class="container">
  <%= render partial: 'odd' %>
  <%= render partial: 'even' %>
  <%= render partial: 'odd' %>
  <%= render partial: 'even' %>
  <%= render partial: 'odd' %>
  <%= render partial: 'even' %>
  <%= render partial: 'odd' %>
  <%= render partial: 'even' %>
  <%= render partial: 'odd' %>
  <%= render partial: 'even' %>
  <%= render partial: 'odd' %>
  <%= render partial: 'even' %>
  <%= render partial: 'odd' %>
  <%= render partial: 'even' %>
  <%= render partial: 'odd' %>
</div>
