<div id="map" class="container">
  <%= render partial: 'map', locals: { hexes: @hexes, range: @range } %>
</div>

<br>

<div class="stamina_legend">
  <div class="none"></div>
  <div class="road"></div>
  <div class="grass"></div>
  <div class="river"></div>
  <div class="mountain"></div>
</div>


<div id="stamina_max" style="width: <%= current_user.stamina_max - 5 %>px">
  <%= render partial: 'current_stamina', locals: { user: current_user } %>
</div>

<br>

<div id="max_hp" style="width: <%= current_user.max_hp %>px">
  <%= render partial: 'current_hp', locals: { user: current_user } %>
</div>

<br>

<div id="max_mp" style="width: <%= current_user.max_mp %>px">
  <%= render partial: 'current_mp', locals: { user: current_user } %>
</div>
